<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="MotorAdminProduction">
  	<classes>
  		<class name = "WebFunction.CreateProductTest"/>
  		<class name = "WebFunction.CreateOrderTest"/>
  		<class name = "WebFunction.CreateLineItemsTest"/>
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
